# ===============================
# Virtual Environments
# ===============================
venv/
.env/
env/
.venv/

# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# Python Cache
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Migrations
# ===============================
migrations/
alembic/versions/

# ===============================
# Alembic
# ===============================
alembic.ini

# ===============================
# Logs
# ===============================
*.log
